version: "3.8"

# Define reusable GPU resource constraints
x-resources:
  # la shm_size es calculada de acuerdo al 80% de la memoria RAM como maximo
  # es importante que el ordenador a entrenar tenga al menos lo mismo de swap que de RAM
  &resources_gpu
  shm_size: ${WORKER_RAM_MEMORY}
  hostname: ${USER}
  cap_add:
    - SYS_ADMIN
    - DAC_READ_SEARCH
    - NET_ADMIN
    - SYS_RESOURCE
  privileged: true
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"
  environment:
    - NVIDIA_VISIBLE_DEVICES=0
    - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    - TZ=Europe/Madrid
  labels:
    - "autoheal=true"
    - "com.centurylinklabs.watchtower.enable=true" 
  deploy:
    resources:
      limits:
        cpus: "${WORKER_CPU_CORES}"
        memory: ${WORKER_RAM_MEMORY}
      reservations:
        # cpus: "1.0"
        # memory: 2048M
        # memory_swap: 500M
        devices:
          - driver: nvidia
            device_ids: [ "0" ]
            capabilities: [ gpu ]

services:
  wyolo_father:
    <<: *resources_gpu
    image: wisrovi/wyolo_worker:v2.0.0
    container_name: wyolo_father
    env_file:
      - config/control_host.env
      - config/user.env
    # restart: always
    command: tail -f /dev/null    
    volumes:
      - /home/wyolo/events:/wyolo/events
      - /home/wyolo/train_service_results:/wyolo/train_service_results
      - /var/run/docker.sock:/var/run/docker.sock
      # - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    network_mode: host
    depends_on:
      wyolo_mother:
        condition: service_started
    # healthcheck:
    #   test: ["CMD-SHELL", "curl -f http://localhost:8000/ || exit 1 && nvidia-smi --query-gpu=name,memory.total,memory.free --format=csv,noheader  && echo 'All systems operational' || echo 'GPU check failed'  || exit 1"]
    #   interval: 20s # Frecuencia de verificación
    #   timeout: 5s # Tiempo máximo para completar la verificación
    #   retries: 3 # Intentos antes de marcar como unhealthy
    #   start_period: 20s # Periodo inicial antes de comenzar las verificaciones

  wyolo_mother:
    <<: *resources_gpu
    image: wisrovi/wyolo_base:v1.0.0
    container_name: wyolo_mother
    restart: always
    command: tail -f /dev/null

  # watchtower:
  #   image: containrrr/watchtower
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   restart: always
  #   environment:
  #     - WATCHTOWER_LABEL_ENABLE=true # Habilita el control por etiquetas
  #     - WATCHTOWER_SCHEDULE=0 0 0,2,4,6,8,10,12,14,16,18,20,22 * * * # todos los segundos, minutos, dias, semanas, meses, a las horas 0,2,...,22
  #     - WATCHTOWER_CLEANUP=true # Elimina imágenes antiguas después de actualizar
  #   labels:
  #     - "com.centurylinklabs.watchtower.enable=false"

  # autoheal:
    # environment:
    #   - AUTOHEAL_INTERVAL=10
    #   - CURL_TIMEOUT=30
    #   - AUTOHEAL_CONTAINER_LABEL=all
    # volumes:
    #   - "/var/run/docker.sock:/var/run/docker.sock"
    # image: willfarrell/autoheal
    # restart: always
    # labels:
    #   - "com.centurylinklabs.watchtower.enable=false"

